.card-container {
  background: #fff;
  display: inline-block;
  margin: 16px;
  border-radius: 16px;
  min-width: 380px;
  box-shadow: 5px 5px 15px rgba(0,0 ,0, .25);
}

.card-container .flex {
  display: flex;
  margin-bottom: 32px;
}

.card-container .flex h2 {
  width: 80%;
}

.edit-buttons {
  width: 20%;
}

.edit-buttons ion-icon {
  display: block;
  margin-left: auto;
  font-size: 2rem;
  cursor: pointer;
}

.top-container {
  color: #fff;
  padding: 32px;
  background: rgb(253, 127, 120);
  background: linear-gradient(180deg, rgba(253, 127, 120, 1) 0%, rgba(255, 144, 148, 1) 100%);
  border-radius: 16px;
}

.property-info p {
  margin: 4px 0px;
}

.card-container p {
  text-align: right;
}

.price {
  margin: 16px 32px;
  font-size: 2rem;
}

.price span {
  font-size: 1rem;
}

.card-storage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
