.updateContainer {
  margin: 0 auto;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.h1Container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.editPageForm {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 60%;
}

.neighbourhoodGroupContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.amenitiesGroupContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5rem;
}

.roomTypeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5rem;
}

.regularInputContainer {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
}

.regularInputContainer input {
  margin-bottom: 1rem;
}

.bedTypeContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.editSubmitBtn {
  width: 100px;
  height: 40px;
  background-color: #ff5a5f;
}
.editSubmitBtn:hover {
  background-color: #00a699;
}
