.login {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

.login h1 {
  color: #ff5a5f;
  margin-top: 64px;
}

.flex-container {
  display: flex;
  height: 80vh;
}

.svg {
  width: 65%;
}

.form-login {
  width: 35%;
  padding-left: 64px;
  align-self: top;
}

.form-login label {
  display: inline-block;
  width: 90%;
  margin: 0;
  background: #fff;
  padding: 12px;
}

.form-login input {
  width: 90%;
  padding: 0;
  border: none;
  padding: 12px;
}

.form-login button {
  border: none;
  border-radius: 9px;
  margin-right: 32px;
  padding: 12px 32px;
  cursor: pointer;
}

.form-login button {
  background: #ff5a5f;
  color: #fff;
  margin-bottom: 32px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.form-login button:hover {
  background-color: #ff6c70;
  color: white;
}

.form-login a button {
  background: #fff;
  color: #222;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.form-login a button:hover {
  background: #f4f4f4;
  color: #222;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container:nth-child(1) label {
  border-radius: 0 10px 0 0;
}

.input-container:nth-child(2) input {
  border-radius: 0 0 10px 0;
}

.input-container .md {
  color: #ddd;
  font-size: 2rem;
  background: #fff;
  padding: 18px;
}

.input-container:nth-child(1) .md {
  color: #ddd;
  font-size: 2rem;
  background: #fff;
  padding: 26px;
  border-radius: 10px 0 0 0;
}

.input-container:nth-child(2) .md {
  color: #ddd;
  font-size: 2rem;
  background: #fff;
  padding: 26px;
  border-radius: 0 0 0 10px;
}

.input-container:nth-child(2) {
  margin-bottom: 32px;
}

.input-field {
  width: 95%;
}
